.carousel-slide-enter {
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  
  .carousel-slide-enter-active {
    opacity: 1;
  }
  
  .carousel-slide-exit {
    opacity: 1;
    transition: opacity 1s ease-out;
  }
  
  .carousel-slide-exit-active {
    opacity: 0;
  }
  