.container-center {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container-image {
  width: 450px;
  position: relative;
  left: 7%;
}
.item-right {
  flex: 2.5;
  width: auto;
  height: auto;
  max-height: 340;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.item-left {
  flex: 1.5;
  height: auto;
  max-height: 340;
}

.item-child {
  width: 90%;
}

@media screen and (max-width: 768px) {
  .container-center {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }

  .item-right {
    width: 100%;
    height: auto;
    max-height: 340;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .item-right {
    width: 100%;
  }
  .container-image {
    width: 80%;
    position: relative;
    left: 9%;
  }
}
