footer {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  height: 10vh;
}
.p {
  margin: 5px;
  font-weight: 100;
}

footer p:first-child {
  font-weight: bold;
}
